
/* EDIT MAINTENANCE - ADD MAINTENANCE - ADD VEHICLE - EDIT VEHICLE */
.form-container {
	border: 1px solid #000000;
	background: #f7f6f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1e5f0), to(#f7f6f4));
	background: -webkit-linear-gradient(top, #d1e5f0, #f7f6f4);
	background: -moz-linear-gradient(top, #d1e5f0, #f7f6f4);
	background: -ms-linear-gradient(top, #d1e5f0, #f7f6f4);
	background: -o-linear-gradient(top, #d1e5f0, #f7f6f4);
	background-image: -ms-linear-gradient(top, #d1e5f0 0%, #f7f6f4 100%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;
	max-width: 400px;
	padding: 20px;
	width: 85%;
	margin: auto;
	margin-top: 150px;

	}

	.form-container fieldset{
		width: 100%
	}
.form-field {
	border: 1px solid #000000;
	background: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #000000;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding:8px;
	margin-bottom:20px;
	width:100%;
	display:block;
	margin: auto;
	}
.form-field:focus {
	background: #ebebeb;
	color: #000000;
	}
.form-container h2 {
	text-shadow: #ffffff 0 1px 0;
	font-size:18px;
	margin: 0 0 10px 0;
	font-weight:bold;
	text-align:center;
	 }
.form-title {
	margin-bottom: 30px;
	color: #000000;
	text-shadow: #ffffff 0 1px 0;
	}
	.form-input label {
		margin-top: 20px;
	}
.submit-container {
	margin:20px 0 0 0 ;
	}
.submit-button {
	border: 1px solid #447314;
	margin: 10px;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	color: #ffffff;
	font-family: helvetica, serif;
	padding: 8.5px 18px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	}
.submit-button:hover {
	border: 1px solid #447314;
	text-shadow: #31540c 0 1px 0;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	color: #fff;
	}
.submit-button:active {
	text-shadow: #31540c 0 1px 0;
	border: 1px solid #447314;
	background: #8dc059;
	background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
	background: -webkit-linear-gradient(top, #6aa436, #8dc059);
	background: -moz-linear-gradient(top, #6aa436, #8dc059);
	background: -ms-linear-gradient(top, #6aa436, #8dc059);
	background: -o-linear-gradient(top, #6aa436, #8dc059);
	background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
	color: #fff;
	}

input#currentMiles,
input#note,
select#kind,
input#brand,
input#model,
input#year,
input#miles {
		width: 90%;
		text-align: center;
		padding: 15px;
    margin: 10px auto 25px auto;
	}