.maintenance.wrapper {
	background: #f4f4f4e6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 365px;
}

.maintenance h2 {
	list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  
}

.maintenance h3 {
  font-family: 'Staatliches', cursive;
  font-size: 26px;
}

.maintenance-label {
	margin: 0; 
  padding: 0; 
  font-size: 100%; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 6em;
  float: left; 
  text-align: left;
	font-family: 'Staatliches', cursive;
}

.maintenance-item {
	margin: 0; 
  padding: 0; 
  display: block; 
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
}

.maintenance.wrapper:last-child {
  margin-bottom: 100px;
}

.maintenance-button {
  display: inline-block
}

