.maintenance.wrapper {
	background: #f4f4f4e6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 315px;
}
.maintenance h3 {
	padding-top: 15px;
}

.maintenance h2 {
	list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.maintenance label {
	display: inline-block;
	width: 100px;
	text-align: left;
}

.maintenance li {
	display: inline-block;
	text-align: right;
	margin-bottom: 20px;
}

