.Login,
section.signup {
	margin-top: 120px;
}

.Login a,
.signup a {
	text-decoration: none;
	color: green
}

.Login a:hover,
.signup a:hover {
	color: white;
}


#login-form,
.signup-form {
	border: 1px solid #f2e3d2;
	margin: auto;
	background: #c9b7a2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
	background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
	background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width:300px;
	padding:20px;
	max-width: 553px;
	}
.form-field {
	border: 1px solid #c9b7a2;
	background: #e4d5c3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #c9b7a2;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding:8px;
	margin-bottom:20px;
	width:280px;
	}
.form-field:focus {
	background: #fff;
	color: #725129;
	}

	.form-field-wrapper {
    display: flex;
    align-items: center;
    padding-top: 31px;
}

fieldset {
	border: none;
}


.signup-form fieldset {
	margin: 20px 0;
}

.Login h2 {
	text-shadow: #fdf2e4 0 1px 0;
	font-size:18px;
	margin: 0 0 10px 0;
	font-weight:bold;
	text-align:center;
	 }

#login-form legend,
.signup-form legend {
	font-size: 24px;
	color: #725129;
	text-shadow: #fdf2e4 0 1px 0;
	}

#login-form input {
		height: 30px;
		text-align: center;
		width: 150px;
}
.form-error {
	color: #f41e1e;
	padding-left: 5px;
	font-size: 12px;
}

.signup-form label,
.login-form label {
	padding-right: 5px;
	width: 34%;
	text-align: right;
}

#login-form fieldset,
.signup-form fieldset {
	border: none;
	padding: 40px 0 0 0;
}
.submit-container {
	margin: 35px 0 0 0;
	}

.signup-anchor {
    text-decoration: none;
}

#login-button {
	border: 1px solid #447314;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	color: #31540c;
	font-family: helvetica, serif;
	padding: 8.5px 18px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	}

#login-button:hover {
	border: 1px solid #447314;
	text-shadow: #31540c 0 1px 0;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	color: #fff;
	}
