.LandingPage {
	margin-top: 20px;
}

#title-banner h1 {
	color: black;
	font-family: 'Nunito', sans-serif;
	font-size: 75px;
	margin: 10px 0px;
}

.demo {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 15px 0px 30px 0px;
	margin: 25px;
	font-family: 'Nunito', sans-serif;
}
#automate-infographic {
	width: 75%;
	height: 100%;
	max-width: 650px;
	max-height: 650px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#details p {
	padding: 20px;
	max-width: 650px;
	font-family: 'Nunito', sans-serif;
	margin: 0;
	text-align: left;
}

#details {
	background: white;
    margin: 10px auto;
    border-radius: 5px;
    max-width: 75%;
}



footer {
  position: fixed;
  left: 0;
	bottom: 0;
	width: 100%;
	font-family: 'Nunito', sans-serif;
	background-color: grey;
	border-top: 1px solid black;
  color: black;
  text-align: center;
}

footer p {
	margin: 5px;
}

section#showcase-section {
	margin: auto;
	max-width: 620px;
	padding: 10px;
	background: #4c9097;
}

.landing-button {
	border: 3px solid #ffffff;
	background: #9c3e96;
	background: -webkit-gradient(linear, left top, left bottom, from(#d66565), to(#9c3e96));
	background: -webkit-linear-gradient(top, #d66565, #9c3e96);
	background: -moz-linear-gradient(top, #d66565, #9c3e96);
	background: -ms-linear-gradient(top, #d66565, #9c3e96);
	background: -o-linear-gradient(top, #d66565, #9c3e96);
	background-image: -ms-linear-gradient(top, #d66565 0%, #9c3e96 100%);
	padding: 20px 40px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #000000 0 1px 0;
	color: #ffffff;
	font-size: 18px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	width: 200px;
	margin: 5px;
	}
.button:hover {
	border: 3px solid #000000;
	text-shadow: #000000 0 1px 0;
	background: #ff5900;
	background: -webkit-gradient(linear, left top, left bottom, from(#fa1d00), to(#ff5900));
	background: -webkit-linear-gradient(top, #fa1d00, #ff5900);
	background: -moz-linear-gradient(top, #fa1d00, #ff5900);
	background: -ms-linear-gradient(top, #fa1d00, #ff5900);
	background: -o-linear-gradient(top, #fa1d00, #ff5900);
	background-image: -ms-linear-gradient(top, #fa1d00 0%, #ff5900 100%);
	color: #fff;
	}

	@media(max-width: 450px){
		#title-banner h1 {
			font-size: 50px;
		}

		.landing-button {
			width: 150px;
			padding: 10px 20px;
		}
		
		#details p {
			font-size: 15px;
		}
	}