.Login {
	margin-top: 200px;
}
#login-form {
	margin: 50px auto;
	width: 400px;
	padding: 10px;
	background: grey;
}

#login-form input {
	text-align: center;
	padding: 3px 0px;
	font-size: 20px;
	margin: 10px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

#login-form button {
	padding: 10px 20px;
}
