.Navigation {
	position: fixed;
	top: -16px;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 1% 10%;
	background-color: #333;
	border-bottom: 2px solid black;
}


/* .automate-title-link {
	text-align: center;
} */

.Navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* 
.Navigation a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 14px 16px;
	text-align: center;
} */

.Navigation li {
	list-style: none;
	float: right;
	padding-right: 10px;
}

.Navigation li a:hover {
	background-color: #111;
}