nav {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 0% 10%;
	background-color: #333;
	border-bottom: 2px solid black;
	display: flex;

}

ul.Navigation {
    max-width: 442px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


li.nav-button,
li.brand-wrapper {
	list-style: none;
}

li.nav-button {
	cursor: pointer;
}
.nav-button span {
	font-family: 'Tajawal', sans-serif;
	color: white;
}

.fa-warehouse:before {
	content: "\f494";
	color: white;
}

.fa-sign-out-alt:before {
	content: "\f2f5";
	color: white;
}

.Navigation #branding {
	float: left;
	color: white;
	font-size: 24px;
	font-family: 'Tajawal', sans-serif;
}

.Navigation #branding p {
	display: inline-block;
	font-size: 20px;
	font-family: 'Tajawal', sans-serif;
}

.Navigation .nav-button {
  margin-right: 0px;
	padding: 5px 10px;
	float: right;
}
 
.Navigation li:first-child {
  border-right: none;
} 

.fa-warehouse,
.fa-sign-out-alt {
	padding: 5px;
}


@media(max-width: 500px){

	.Navigation ul {
		align-content: center;
	}

	.Navigation #branding {
		float: left;
		color: white;
		font-size: 24px;
	}
	
	.Navigation #branding p {
		display: none;
	}
	/* .Navigation .nav-button {
		margin-right: 0px;
		border: none;
		margin-top: 5px;
		padding: 5px 10px;
		display: block;
		width: 100%
	} */

}