.vehicle {
	background: #f8f8f8fa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 300px;
	margin: auto 20px;

	margin-bottom: 50px;
	border-radius: 5px;
}

.vehicle h2 {
	padding-top: 20px;
}

li {
  list-style-type: none;
}
.vehicle.wrapper {
	margin-top: 50px;
	margin-bottom: 25px;
}

.view-vehicle img {
	padding-right: 10px;
}
.delete-vehicle img {
	padding-right: 10px;
	padding-top: 2px;
}

@media (min-width: 775px){
	.vehicle {
		width: 775px;
		margin: auto;
	}
}