.single-vehicle.wrapper {
	margin-top: 150px;
}
.vehicle {
	background: #d1e5f0;
	height: 430px;
	margin: auto 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-radius: 5px;
}

.vehicle h2 {
	padding-top: 10px;
	font-size: 30px;
	font-family: 'Staatliches', cursive
}

.vehicle h1 {
	font-family: 'Aleo', serif;
	padding-top: 10px;
}

.vehicle {
	padding-bottom: 20px;
}
.list-item {
	margin: 0; 
  padding: 0; 
  padding-bottom: 1.25em;
}
.vehicle-label {
  margin: 0; 
  padding: 0; 
  display: block; 
  font-size: 100%; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 6em; 
  text-align: right; 
	float: left; 
	font-family: 'Staatliches', cursive;
}

.vehicle-item {
	display: inline-block;
	text-align: right;
	margin-bottom: 1px;
	font-family: 'Nunito', sans-serif;
}
p.vehicle-item {
	margin: 0;
}

.vehicle button {
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.vehicle.wrapper {
	margin-top: 50px;
	margin-bottom: 25px;
}
.vehicle-button {
  display: inline-block
}
.view-vehicle img {
	padding-right: 10px;
}
.delete-vehicle i {
	padding-right: 10px;
	padding-top: 2px;
}

@media (max-width: 400px){
	.vehicle {
		width: 90%;
		height: 450px;
		margin: auto;
	}
}

@media (min-width: 775px){
	.vehicle {
		width: 775px;
		margin: auto;
	}

}