
* {
	box-sizing: border-box;
}

html { 
  background: url('https://images.unsplash.com/photo-1494441372960-6dce1eca6e57') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
	padding: 45px 15px;
}

main {
	text-align: center;
	margin-top: 20px;
}
