header {
	padding: 45px 15px;
}

main {
	text-align: center;
	margin-top: 150px;
}

section {
	min-height: 200px;
	padding: 30px 15px;
	margin-bottom: 15px;
	background-color: #bbb;
}

section:nth-child(even) {
	background-color: #ddd;
}
